block header
  link(rel='stylesheet', href="../../css/header.css", type='text/css')
  header
    .top
      img(src='../../img/logo1.png')
      .contacts
        .pages
          a(href='/') Главная 
          p  &nbsp; | &nbsp; 
          a(href='contacts') Контакти
        .phone Телефон: + 380 (512) 67-01-91
    .menu
      ul
        li.active
          a(href='/') О нас
        li
          a(href='news') Новини
        li
          a(href='business') Діяльність
        li
          a(href='purchase') Закупівля
        li
          a(href='selling') Реалізація
        li
          a(href='investments') Інвестиції
        li
          a(href='contacts') Контакти
