html
  head
    title hey
    link(rel='stylesheet', href="../css/about.css", type='text/css')
  body
    .main
      include includes/header.pug
      #content
        img(src='../img/fon1.jpg')
        .clear.vr
          .col-1
            h3 &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
            .news
              p
                strong 18.11.2011&gcy;.
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ucy;&vcy;&acy;&zhcy;&acy;&iecy;&mcy;&ycy;&iecy; &kcy;&ocy;&lcy;&lcy;&iecy;&gcy;&icy;! &Kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tcy;&icy;&vcy; &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&scy;&kcy;&ocy;&jcy; &acy;&gcy;&rcy;&acy;&rcy;&ncy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &pcy;&ocy;&zcy;&dcy;&rcy;&acy;&vcy;&lcy;&yacy;&iecy;&tcy; &Vcy;&acy;&scy; &scy; &Dcy;&ncy;&iecy;&mcy; &rcy;&acy;&bcy;&ocy;&tcy;&ncy;&icy;&kcy;&acy; &scy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&gcy;&ocy; &khcy;&ocy;&zcy;&yacy;&jcy;&scy;&tcy;&vcy;&acy;!
                br
                a(href='novosti.html#novosti') &Dcy;&acy;&lcy;&softcy;&shcy;&iecy;
              .hr
              p
                strong 22.10.2011&gcy;.
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&scy;&iecy;&ncy;&ncy;&yacy;&yacy; &pcy;&ocy;&scy;&iecy;&vcy;&ncy;&acy;&yacy; &zcy;&acy;&vcy;&iecy;&rcy;&shcy;&iecy;&ncy;&acy;! &Pcy;&lcy;&ocy;&shchcy;&acy;&dcy;&softcy; &pcy;&ocy;&scy;&iecy;&vcy;&acy;...
                br
                a(href='novosti.html#novosti') &Dcy;&acy;&lcy;&softcy;&shcy;&iecy;
              .hr
              p
                strong 14.10.2011&gcy;.
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Vcy;&ocy; &vcy;&scy;&iecy;&khcy; &pcy;&ocy;&dcy;&rcy;&acy;&zcy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy;&khcy; &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&scy;&kcy;&ocy;&jcy; &acy;&gcy;&rcy;&acy;&rcy;&ncy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &pcy;&rcy;&ocy;&dcy;&ocy;&lcy;&zhcy;&acy;&iecy;&tcy;&scy;&yacy; &pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&kcy;&acy; &pcy;&ocy;&chcy;&vcy;&ycy;...
                br
                a(href='novosti.html#novosti') &Dcy;&acy;&lcy;&softcy;&shcy;&iecy;
            h3 &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy;
            img(alt='' src='images/p1.jpg')
            br
            br
            ul
              li
                a(href='produkciya.html#products') &pcy;&shcy;&iecy;&ncy;&icy;&tscy;&acy;
              li
                a(href='produkciya.html#products') &yacy;&chcy;&mcy;&iecy;&ncy;&softcy;
              li
                a(href='produkciya.html#products') &rcy;&acy;&pcy;&scy;
              li
                a(href='produkciya.html#products') &scy;&iecy;&mcy;&iecy;&ncy;&acy; &pcy;&ocy;&dcy;&scy;&ocy;&lcy;&ncy;&iecy;&chcy;&ncy;&icy;&kcy;&acy;
              li
                a(href='produkciya.html#products') &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy; &scy;&iecy;&mcy;&iecy;&ncy;&ocy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&acy;
          .col-2
            h3 &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy; &ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
            img.f-left(alt='' src='images/p2.jpg')
            p
              | &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&scy;&kcy;&acy;&yacy; &acy;&gcy;&rcy;&acy;&rcy;&ncy;&acy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy;, &scy;&ocy;&zcy;&dcy;&acy;&ncy;&ncy;&acy;&yacy; &vcy; &yacy;&ncy;&vcy;&acy;&rcy;&iecy; 2005 &gcy;&ocy;&dcy;&acy;, &ndash; &ucy;&kcy;&rcy;&acy;&icy;&ncy;&scy;&kcy;&icy;&jcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &scy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&khcy;&ocy;&zcy;&yacy;&jcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy;.
            p
              | &Pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy; &acy;&rcy;&iecy;&ncy;&dcy;&ucy;&iecy;&tcy; &zcy;&iecy;&mcy;&lcy;&icy; &scy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&khcy;&ocy;&zcy;&yacy;&jcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&gcy;&ocy; &ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&yacy; (&pcy;&acy;&shcy;&ncy;&icy;) &ncy;&acy; &yucy;&gcy;&iecy; &Ucy;&kcy;&rcy;&acy;&icy;&ncy;&ycy; &pcy;&ocy; &dcy;&ocy;&lcy;&gcy;&ocy;&scy;&rcy;&ocy;&chcy;&ncy;&ycy;&mcy; &dcy;&ocy;&gcy;&ocy;&vcy;&ocy;&rcy;&acy;&mcy; &acy;&rcy;&iecy;&ncy;&dcy;&ycy; &zcy;&iecy;&mcy;&lcy;&icy; &scy; &iecy;&iecy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&acy;&mcy;&icy;. &Zcy;&iecy;&mcy;&lcy;&icy;, &acy;&rcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy;&ycy;&iecy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&iecy;&jcy;, &ncy;&acy;&khcy;&ocy;&dcy;&yacy;&tcy;&scy;&yacy; &vcy; &Scy;&ncy;&icy;&gcy;&icy;&rcy;&iecy;&vcy;&scy;&kcy;&ocy;&mcy; &rcy;&acy;&jcy;&ocy;&ncy;&iecy; &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy; &icy; &Bcy;&iecy;&rcy;&iecy;&zcy;&ocy;&vcy;&scy;&kcy;&ocy;&mcy; &rcy;&acy;&jcy;&ocy;&ncy;&iecy; &Ocy;&dcy;&iecy;&scy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;. &Zcy;&acy; &pcy;&iecy;&rcy;&icy;&ocy;&dcy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&scy;&kcy;&ocy;&jcy; &acy;&gcy;&rcy;&acy;&rcy;&ncy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &pcy;&lcy;&ocy;&shchcy;&acy;&dcy;&softcy; &acy;&rcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy;&ycy;&khcy; &zcy;&iecy;&mcy;&iecy;&lcy;&softcy; &vcy;&ycy;&rcy;&ocy;&scy;&lcy;&acy; &pcy;&ocy;&chcy;&tcy;&icy; &vcy; 2 &rcy;&acy;&zcy;&acy; &icy; &scy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&iecy;&tcy; &scy;&iecy;&jcy;&chcy;&acy;&scy; &ocy;&kcy;&ocy;&lcy;&ocy; 8 &tcy;&ycy;&scy;.&gcy;&acy; &pcy;&acy;&shcy;&ncy;&icy;.
            p
              | &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &ndash; &rcy;&acy;&scy;&tcy;&iecy;&ncy;&icy;&iecy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;. &Ocy;&scy;&ncy;&ocy;&vcy;&ncy;&acy;&yacy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&mcy;&acy;&yacy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy; &ndash; &pcy;&shcy;&iecy;&ncy;&icy;&tscy;&acy;, &yacy;&chcy;&mcy;&iecy;&ncy;&softcy;, &rcy;&acy;&pcy;&scy;, &scy;&iecy;&mcy;&iecy;&ncy;&acy; &pcy;&ocy;&dcy;&scy;&ocy;&lcy;&ncy;&iecy;&chcy;&ncy;&icy;&kcy;&acy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy;, &vcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&mcy;, &ecy;&kcy;&scy;&pcy;&ocy;&rcy;&tcy;&icy;&rcy;&ucy;&yucy;&tcy;&scy;&yacy; &vcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy; &Bcy;&lcy;&icy;&zhcy;&ncy;&iecy;&gcy;&ocy; &Vcy;&ocy;&scy;&tcy;&ocy;&kcy;&acy; &icy; &Scy;&rcy;&iecy;&dcy;&icy;&zcy;&iecy;&mcy;&ncy;&ocy;&mcy;&ocy;&rcy;&softcy;&yacy;.
            p
              | &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&scy;&kcy;&acy;&yacy; &acy;&gcy;&rcy;&acy;&rcy;&ncy;&acy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy; &yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &dcy;&iecy;&rcy;&zhcy;&acy;&tcy;&iecy;&lcy;&iecy;&mcy; &pcy;&acy;&scy;&pcy;&ocy;&rcy;&tcy;&ocy;&vcy; &ncy;&acy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &icy; &rcy;&iecy;&acy;&lcy;&icy;&zcy;&acy;&tscy;&icy;&yucy; &ocy;&rcy;&icy;&gcy;&icy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; (&ecy;&lcy;&icy;&tcy;&ncy;&ycy;&khcy;) &icy; &rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&khcy; &scy;&iecy;&mcy;&yacy;&ncy; &icy; &pcy;&ocy;&scy;&iecy;&vcy;&ncy;&ocy;&gcy;&ocy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&acy; &zcy;&iecy;&rcy;&ncy;&ocy;&vcy;&ycy;&khcy; &kcy;&ucy;&lcy;&softcy;&tcy;&ucy;&rcy;.
            p
              | &Pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy; &vcy;&lcy;&acy;&dcy;&iecy;&iecy;&tcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&mcy;&icy; &fcy;&ocy;&ncy;&dcy;&acy;&mcy;&icy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&yucy;&tcy; &rcy;&iecy;&acy;&lcy;&icy;&zcy;&ocy;&vcy;&ycy;&vcy;&acy;&tcy;&softcy; &pcy;&ocy;&lcy;&ncy;&ycy;&jcy; &tscy;&icy;&kcy;&lcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&acy; &scy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&khcy;&ocy;&zcy;&yacy;&jcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &rcy;&acy;&scy;&tcy;&iecy;&ncy;&icy;&iecy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&acy;, &vcy;&kcy;&lcy;&yucy;&chcy;&acy;&yacy; &dcy;&ocy;&lcy;&gcy;&ocy;&scy;&rcy;&ocy;&chcy;&ncy;&ocy;&iecy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&iecy; &vcy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&khcy; &scy;&kcy;&lcy;&acy;&dcy;&acy;&khcy;.
            p
              | &TScy;&iecy;&ncy;&tcy;&rcy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &ocy;&fcy;&icy;&scy; &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&scy;&kcy;&ocy;&jcy; &acy;&gcy;&rcy;&acy;&rcy;&ncy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &rcy;&acy;&scy;&pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy; &pcy;&ocy; &acy;&dcy;&rcy;&iecy;&scy;&ucy;: &Ucy;&kcy;&rcy;&acy;&icy;&ncy;&acy;, &gcy;.&Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;, &ucy;&lcy;.&Dcy;&iecy;&kcy;&acy;&bcy;&rcy;&icy;&scy;&tcy;&ocy;&vcy;, 41/23&acy;.
            .hr
            h3 &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
            ul
              li
                a(href='uslugi.html#uslugi') &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &scy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&khcy;&ocy;&zcy;&yacy;&jcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&mcy; &pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy;&mcy;
              li
                a(href='uslugi.html#uslugi')
                  | &pcy;&ocy;&dcy;&bcy;&ocy;&rcy; &icy; &pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&kcy;&acy; &scy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&khcy;&ocy;&zcy;&yacy;&jcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy; (&rcy;&acy;&scy;&tcy;&iecy;&ncy;&icy;&iecy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;) &kcy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&iecy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&ocy;&rcy;&ocy;&mcy;
