<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="../css/articles.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Последние новости Николаевской аграрной компании – украинского производителя сельскохозяйственной продукции." />
<meta name="keywords" content="" />
<title>G.K. Parts Group</title>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">
	ie_png.fix('.png');
</script>
<![endif]-->
</head>
<body>
	<div class="lang" style="display: flex; width: 50px; justify-content: space-evenly; position:relative; top: 10px;left: 40px;">
		<button style="background: none;border: none;color: white;text-decoration: underline;cursor: pointer;opacity: 0.7;font-size: 18px;" type="button" name="button" id='ua'>ua</button>
		<button style="background: none;border: none;color: white;text-decoration: underline;cursor: pointer;opacity: 0.7;font-size: 18px;" type="button" name="button" id='en'>en</button>
	</div>
<div id="main">
	<!-- header -->
	<div id="header">
		<div class="clear">
			<a href="/" class="logo"><img alt="Николаевская Аграрная Компания" src="../images/logo.png" style="height: 100px;" /></a>
			<div class="inner">
				<a href="/">Головна</a> &nbsp;|&nbsp; <a href="contacts">Контакти</a><br />
				<span>Телефон: + 380 (95) 42 06 484</span>
			</div>
		</div>
		<div class="menu">
				<ul>
						<li class="dropdown first-li">
							<a class="dropbtn" href="/">Головна</a>
							<div class="dropdown-content">
								<a href="/">Про нас</a>
								<a href="projects">Проекти</a>
								<a href="vacancies">Вакансії</a>
							</div>
						</li>
						<li class="dropdown news">
							<a class="dropbtn" href="news">Новини</a>
							<div class="dropdown-content">
								<a href="articles">Статті</a>
								<a href="press">Преса</a>
								<a href="videos">Відео</a>
							</div>
						</li>
						<li class="dropdown business">
							<a class="dropbtn" href="business">Діяльність</a>
							<div class="dropdown-content">
								<a href="selling-crops">Реалізація зернових</a>
								<a href="selling-flour">Реалізація борошна</a>
								<a href="selling-other">Реалізація іншої сільськогосподарської продукції</a>
								<a href="purchase">Закупівля сільськогосподарської продукції</a>
								<a href="complexes">Проектування та будівництво елеваторних та млинових комплексів</a>
							</div>
						</li>
						<li class="dropdown">
							<a class="dropbtn" href="investments">Інвестиції</a>
							<div class="dropdown-content">
								<a href="ukraine">Україна</a>
								<a href="belarus">Білорусь</a>
								<a href="eu">Європейський союз</a>
							</div>
						</li>
						<li class="last-li"><a href="contacts">Контакти</a></li>
				</ul>
		</div>
	</div>
	<!-- /header -->
	<!-- content -->
	<div id="content" class="c-block">
		<div class="bg-top clear">
			<div class="corner-left png"></div>
			<div class="corner-right png"></div>
			<div class="inner png"></div>
		</div>
		<div class="bg-left png"><div class="bg-right png">
			<div class="inner">

				<div class="main-pic"><img alt="" src="../img/fon4.jpg" /></div>
				<h3>Статті</h3>
				<div class="news">
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18.11.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Шановні колеги! </font><font style="vertical-align: inherit;">Колектив Миколаївської аграрної компанії вітає Вас з Днем працівника сільського господарства! </font><font style="vertical-align: inherit;">Бажаємо всім хороших сходів і своєчасних опадів!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22.10.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Осіння посівна завершена! </font><font style="vertical-align: inherit;">Площа посіву озимого ячменю склала 594,3 га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">14.10.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У всіх підрозділах Миколаївської аграрної компанії триває підготовка ґрунту під ярі культури, а саме: дискування під ярий ячмінь, оранка і глубокорихленіе під соняшник і пізні ярі культури.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">07.10.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Агрономічна служба компанії повідомляє, що станом на 6 жовтня: </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					- повністю посіяна озима пшениця на запланованій площі 3638,2 га; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					- триває посів озимого ячменю, який планується завершити до 15 жовтня; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					- на всій площі посіву озимого ріпаку отримано сходи. </font><font style="vertical-align: inherit;">Озимий ріпак оброблений проти шкідників; </font><font style="vertical-align: inherit;">найближчим часом буде проведена листкове підживлення сходів.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23.09.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершено збирання соняшнику! </font><font style="vertical-align: inherit;">Середня врожайність соняшнику по компанії склала 20,0 ц / га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16.09.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Агрономічна служба компанії повідомляє, що через несприятливі для сівби озимого ріпаку погодних умов, озимий ріпак посіяно лише на полях, де була проведена влагозарядка грунту. </font><font style="vertical-align: inherit;">Площа посіву склала 180 га. </font><font style="vertical-align: inherit;">Одночасно, в план сівозміни компанії на 2019-2012 роки внесено зміни щодо збільшення площ посівів озимої пшениці та озимого ячменю.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">05.09.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Збір врожаю соняшника йде у всіх підрозділах Миколаївської аграрної компанії.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">01.09.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Розпочато посів озимого ріпаку на полях, де була проведена влагозарядка грунту.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">26.08.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У Снігурівському відділенні Миколаївської аграрної компанії розпочато збирання соняшнику!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15.08.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Увага! </font><font style="vertical-align: inherit;">На сторінці Продукція розміщена інформація про кількість і показниках якості пшениці врожаю 2019 року, пропонованої на продаж.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29.07.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У всіх підрозділах Миколаївської аграрної компанії повним ходом йде підготовка ріллі під посів озимих майбутнього врожаю.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25.07.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Прибирання закінчена!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13.07.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Збирання озимого ріпаку та ярого ячменю завершено!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">02.07.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У всіх підрозділах Миколаївської аграрної компанії почалося збирання озимого ріпаку!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29.06.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершено збирання озимого ячменю!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25.05.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Агрономічна служба компанії повідомляє, що станом на 25 травня: </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					- закінчена друга хімічна обробка озимих і ярих зернових проти комплексу хвороб і шкідників, зокрема, проти дорослої особини клопа-черепашки; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					- на всій площі посіву соняшника отримані повноцінні сходи; </font><font style="vertical-align: inherit;">повним ходом йде міжрядний обробіток, яка була розпочата 17 травня; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					- почалася основна обробка грунту під чорні пари, яку планується закінчити через два тижні.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18.05.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Закінчено посів соняшнику! </font><font style="vertical-align: inherit;">Площа посіву становив 1456 га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29.04.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Посів соняшнику завершено вже на 50% від запланованих площ. </font><font style="vertical-align: inherit;">Також, по всіх господарствах закінчується обприскування посівів озимого ріпаку від комплексу шкідників і хвороб з одночасною підгодівлею мікроелементами.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22.04.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У всіх підрозділах Миколаївської аграрної компанії розпочато посів соняшнику.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">19.04.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершена підживлення озимих зернових культур карбамідом за методом Бузницького (сівалками, прикореневим способом).</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">05.04.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Моніторинг стану озимих культур, проведений агрономічної службою компанії після виходу із зимівлі, показав наступне. </font><font style="vertical-align: inherit;">Сходи озимої пшениці та озимого ячменю на всій площі посіву знаходяться в хорошому стані. </font><font style="vertical-align: inherit;">Сходи озимого ріпаку на площі 782 га знаходяться в хорошому стані, а на площі 247 га - в задовільному стані.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25.03.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Закінчено посів ярого ячменю на площі 293 га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18.02.2019 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Проведено підживлення озимого ріпаку аміачною селітрою по мерзлоталому грунті.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30.12.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Колектив Миколаївської аграрної компанії вітає всіх з наступаючим Новим роком! </font><font style="vertical-align: inherit;">Нехай в Новому році збудеться не менш половини Ваших планів і надій! </font><font style="vertical-align: inherit;">:-)</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">01.12.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У всіх підрозділах Миколаївської аграрної компанії завершені сільськогосподарські роботи згідно з планом виробництва осінніх польових робіт.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">19.11.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Шановні колеги! </font><font style="vertical-align: inherit;">Колектив Миколаївської аграрної компанії вітає Вас з Днем працівника сільського господарства! </font><font style="vertical-align: inherit;">Бажаємо Вам здоров'я, терпіння, трішечки удачі і, особливо, хочемо Вам побажати зберігати надію на краще!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">09.11.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					6-8 листопада був проведений моніторинг стану посівів, який показав наступне. </font><font style="vertical-align: inherit;">На всій площі отримано сходи озимої пшениці (фаза 2-3 листків), з'являються сходи озимого ячменю (фаза 1-3 листків). </font><font style="vertical-align: inherit;">Озимий ріпак на більшості площ знаходиться в фазі 4-5 листків (80% площі), на решті площі - в фазі 2-3 листків. </font><font style="vertical-align: inherit;">За всіма господарствам вироблено обприскування озимого ріпаку від комплексу шкідників і хвороб; </font><font style="vertical-align: inherit;">одночасно проводилася підгодівля мікроелементами. </font><font style="vertical-align: inherit;">Посіви пшениці, посіяні по стерньових попередниках, оброблені інсектицидом проти хлібної жужелиці.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30.10.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					На сторінці Продукція актуалізована інформація про пшеницю врожаю 2018 року, пропонованої на продаж.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16.10.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Осіння посівна кампанія завершена у всіх підрозділах Миколаївської аграрної компанії! </font><font style="vertical-align: inherit;">Площа посіву озимого ячменю склала 354 га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15.10.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Увага! </font><font style="vertical-align: inherit;">На сторінці Інвесторам опубліковані дані про врожайність і валовий збір сільськогосподарських культур у 2018 році. </font><font style="vertical-align: inherit;">Слід зазначити, що збирання ранніх зернових в поточному році відбувалася в дуже складних метеорологічних умовах: майже безперервні грозові дощі, іноді з градом. </font><font style="vertical-align: inherit;">Внаслідок цього втрати врожаю ячменю склали не менше 30%, пшениці - не менше 25%. </font><font style="vertical-align: inherit;">Крім того, урожай ріпаку на 223 га був повністю знищений градом, про що Торгово-Промисловою Палатою України було видано відповідний висновок.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">08.10.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Озима пшениця посіяна відповідно до плану сівозміни! </font><font style="vertical-align: inherit;">Площа посіву склала 3131 га. </font><font style="vertical-align: inherit;">Розпочато посів озимого ячменю.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">26.09.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершено збирання соняшнику! </font><font style="vertical-align: inherit;">Середня врожайність соняшнику по компанії склала 22,8 ц / га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15.09.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Розпочато посів озимої пшениці в усіх підрозділах Миколаївської аграрної компанії.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11.09.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершено посів озимого ріпаку! </font><font style="vertical-align: inherit;">Площа посіву склала 1029 га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">09.09.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У всіх підрозділах Миколаївської аграрної компанії йде збирання соняшнику.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">06.09.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Посів озимого ріпаку завершено вже на 75% від запланованих площ.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23.08.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У Снігурівському відділенні Миколаївської аграрної компанії розпочато влагозарядка грунту під посів озимого ріпаку.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15.08.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Увага! </font><font style="vertical-align: inherit;">На сторінці Продукція з'явилася інформація про кількість і показниках якості пшениці врожаю 2018 року, пропонованої на продаж.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29.07.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					У всіх підрозділах Миколаївської аграрної компанії йде підготовка ріллі під посів озимих майбутнього врожаю.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25.07.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Прибирання закінчена!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">09.07.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Почалося збирання ярого ячменю та озимої пшениці в усіх підрозділах Миколаївської аграрної компанії!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">03.07.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Почалося збирання озимого ріпаку в усіх підрозділах Миколаївської аграрної компанії!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29.06.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Почалося збирання озимого ячменю в усіх підрозділах Миколаївської аграрної компанії!</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">09.06.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Увага! </font><font style="vertical-align: inherit;">На сторінці Продукція з'явилася інформація про насіння урожаю 2018 року, що пропонуються до продажу.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">27.05.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Посіви соняшнику на всій площі (1091,0 га) знаходяться в задовільному стані.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">14.05.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершено обробку озимих і ярих зернових культур гербіцидами, фунгіцидами та інсектицидами на всій площі посівів.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25.04.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Вироблено обприскування посівів озимого ріпаку від комплексу шкідників з одночасною підгодівлею мікроелементами.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15.04.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершена підживлення озимих зернових культур аміачною селітрою за методом Бузницького (сівалками, прикореневим способом).</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">28.03.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Закінчено посів ярого ячменю на площі 401,6 га.</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12.03.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Моніторинг стану посівів озимих культур після зимівлі показав, що в задовільному стані знаходяться посіви озимої пшениці (3051,1 га), озимого ячменю (1490,9 га), озимого ріпаку (820,9 га).</font></font></p>
					<div class="hr"></div>
					<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10.03.2018 </font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
					Завершена підживлення озимих культур аміачною селітрою по мерзлоталому грунті, що почалася в кінці лютого.</font></font></p>
				</div>

			</div>
		</div></div>
		<div class="bg-bottom clear">
			<div class="corner-left png"></div>
			<div class="corner-right png"></div>
			<div class="inner png"></div>
		</div>
	</div>
	<!-- /content -->
	<!-- footer -->
	<div id="footer">
    <div class="copy">G.K. Parts Group &copy; 2010-2019</div>
	</div>
	<!-- /footer -->
</div>
<script type="text/javascript">
var enButton = document.getElementById('en');
var uaButton = document.getElementById('ua');
console.log(enButton)
enButton.addEventListener('click', () => {
  document.cookie = "lang=en; expires: Fri, 31 Dec 9999 23:59:59 GMT";
	location.reload();
})

uaButton.addEventListener('click', () => {
  document.cookie = "lang=ua; expires: Fri, 31 Dec 9999 23:59:59 GMT";
	location.reload();
})
</script>
</body>
</html>
