<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="../css/selling-crops.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Семена и другая сельскохозяйственная продукция Николаевской аграрной компании выращиваются по современным интенсивным технологиям, в том числе с использованием искусственного орошения." />
<meta name="keywords" content="" />
<title>G.K. Parts Group</title>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">
	ie_png.fix('.png');
</script>
<![endif]-->
</head>
<body id="type-2">
	<div class="lang" style="display: flex; width: 50px; justify-content: space-evenly; position:relative; top: 10px;left: 40px;">
		<button style="background: none;border: none;color: white;text-decoration: underline;cursor: pointer;opacity: 0.7;font-size: 18px;" type="button" name="button" id='ua'>ua</button>
		<button style="background: none;border: none;color: white;text-decoration: underline;cursor: pointer;opacity: 0.7;font-size: 18px;" type="button" name="button" id='en'>en</button>
	</div>
<div id="main">
	<!-- header -->
	<div id="header">
		<div class="clear">
			<a href="/" class="logo"><img alt="Николаевская Аграрная Компания" src="../images/logo.png" style="height: 100px;" /></a>
			<div class="inner">
				<a href="/">Головна</a> &nbsp;|&nbsp; <a href="contacts">Контакти</a><br />
				<span>Телефон: + 380 (95) 42 06 484</span>
			</div>
		</div>
		<div class="menu">
        <ul>
            <li class="dropdown first-li">
							<a class="dropbtn" href="/">Головна</a>
							<div class="dropdown-content">
								<a href="/">Про нас</a>
								<a href="projects">Проекти</a>
								<a href="vacancies">Вакансії</a>
							</div>
						</li>
						<li class="dropdown news">
							<a class="dropbtn" href="news">Новини</a>
							<div class="dropdown-content">
								<a href="articles">Статті</a>
								<a href="press">Преса</a>
								<a href="videos">Відео</a>
							</div>
						</li>
						<li class="dropdown business">
							<a class="dropbtn" href="business">Діяльність</a>
							<div class="dropdown-content">
								<a href="selling-crops">Реалізація зернових</a>
								<a href="selling-flour">Реалізація борошна</a>
								<a href="selling-other">Реалізація іншої сільськогосподарської продукції</a>
								<a href="purchase">Закупівля сільськогосподарської продукції</a>
								<a href="complexes">Проектування та будівництво елеваторних та млинових комплексів</a>
							</div>
						</li>
						<li class="dropdown">
							<a class="dropbtn" href="investments">Інвестиції</a>
							<div class="dropdown-content">
								<a href="ukraine">Україна</a>
								<a href="belarus">Білорусь</a>
								<a href="eu">Європейський союз</a>
							</div>
						</li>
            <li class="last-li"><a href="contacts">Контакти</a></li>
        </ul>
    </div>
	</div>
	<!-- /header -->
	<!-- content -->
	<div id="content" class="c-block">
		<div class="bg-top clear">
			<div class="corner-left png"></div>
			<div class="corner-right png"></div>
			<div class="inner png"></div>
		</div>
		<div class="bg-left png"><div class="bg-right png">
			<div class="inner">

				<div class="main-pic"><img alt="" src="../images/other.jpg" style='object-position: center center;' /></div>
				<a name="plants"><h3>Реалізація іншої сільськогосподарської продукції</h3></a>
				<div class="clear">
					<div class="col-1"><img alt="" src="../images/p3.jpg" /></div>
					<div class="col-2">
						<p>Миколаївська аграрна компанія орендує близько 8 тис.га земель сільськогосподарського призначення (ріллі) на півдні України за довгостроковими договорами оренди землі з її власниками.Землі, орендовані компанією, знаходяться в Снігурівському районі Миколаївської області та Березівському районі Одеської області.<br>
						Миколаївська аграрна компанія є насінницьким господарством по вирощуванню елітного та репродукційного насіння зернових культур (паспорта на виробництво та реалізацію насіння і посівного матеріалу №№ 4340, 4341 від 22.12.2008 року, видані Міністерством аграрної політики України).</p>
						<p>Високий професіоналізм співробітників Миколаївської аграрної компанії дозволяє з року в рік отримувати гідні результати за врожайністю та якістю сільськогосподарської продукції.</p>
					</div>
				</div>
						<p>Для отримання високих показників врожайності (не на шкоду навколишньому середовищу і якості грунту) дотримуються всі необхідні складові, а саме:</p>
												<div class="clear">
					<div class="col-1"><img alt="" src="../images/p4.jpg" /></div>
					<div class="col-2">
						- на полях висівають зернові культури селекції Одеського СГІ і Краснодарського НИИСХ ім.П.П.Лукьяненко;насіння гібридів соняшнику, кукурудзи та ріпаку відомих європейських і американських селекційних установ (Syngenta, Pioneer, Lembke, Monsanto);<br>
						- застосовуються сучасні інтенсивні технології вирощування сільськогосподарських культур (Min-Till), які, крім збільшення врожайності, забезпечують збереження грунту і гумусу в грунті; <br>
						- застосовуються необхідні добрива, в тому числі мікродобрива, складні добрива, що включають численні препарати, що впливають на врожайність і якість сільськогосподарської продукції;<br>
						- необхідні засоби захисту рослин купуються виключно у провідних світових виробників (Bayer, Monsanto, Syngenta, DuPont, Dow AgroSciences, Nufarm, FMC, Cheminova, BASF) з метою зменшення шкоди навколишньому середовищу.
					</div>
				</div>
						<p>Для досягнення високих результатів врожайності сільськогосподарських культур щорічно закладається достатня кількість експериментальних ділянок, на яких перевіряються нововведення в дво-, трирічному циклі.</p>
						<div class="clear">
					<div class="col-1"><img alt="" src="../images/p5.jpg" /></div>
					<div class="col-2">
						<p>Важливим аспектом отримання гарантованого врожаю є штучне зрошення вирощуваних культур, для ведення якого на 3 тис. Га в Снігурівському районі Миколаївської області є всі необхідні агрегати і розвинена мережа постійних зрошувальних каналів. Зрошення проводиться класичним способом за відкритими зрошувачів - дощуванням з використанням закордонного агрегату фірми Valley і вітчизняної техніки для поливу.</p>
						<p>У компанії відбувається поступове заміщення вітчизняної сільськогосподарської техніки на грунтообробну і посівну техніку визнаних світових лідерів. Так, вже зараз серед сільськогосподарського обладнання Миколаївській аграрної компанії є обприскувачі Great Plains, сівалки Great Plains, Kinze і Case.</p>
						</div>
						<p>Важливу роль в плануванні посівних площ і перспективного сівозміни Миколаївської аграрної компанії відіграють і тенденції сучасного світового ринку сільськогосподарської продукції.</p>

				</div>

			</div>
		</div></div>
		<div class="bg-bottom clear">
			<div class="corner-left png"></div>
			<div class="corner-right png"></div>
			<div class="inner png"></div>
		</div>
	</div>
	<!-- /content -->
	<!-- footer -->
	<div id="footer">
    <div class="copy">G.K. Parts Group &copy; 2010-2019</div>
	</div>
	<!-- /footer -->
</div>
<script type="text/javascript">
var enButton = document.getElementById('en');
var uaButton = document.getElementById('ua');
console.log(enButton)
enButton.addEventListener('click', () => {
  document.cookie = "lang=en; expires: Fri, 31 Dec 9999 23:59:59 GMT";
	location.reload();
})

uaButton.addEventListener('click', () => {
  document.cookie = "lang=ua; expires: Fri, 31 Dec 9999 23:59:59 GMT";
	location.reload();
})
</script>
</body>
</html>
