html
  head
    title hey
    link(rel='stylesheet', href="../css/selling.css", type='text/css')
  body
    .main
      include includes/header.pug
      .content
        img(src='../img/fon7.jpg')
        h1 Реалізація сільхоз продукції
        p Николаевская аграрная компания арендует около 8 тыс.га земель сельскохозяйственного назначения (пашни) на юге Украины по долгосрочным договорам аренды земли с ее собственниками. Земли, арендуемые компанией, находятся в Снигиревском районе Николаевской области и Березовском районе Одесской области.Николаевская аграрная компания является семеноводческим хозяйством по выращиванию элитных и репродукционных семян зерновых культур (паспорта на производство и реализацию семян и посевного материала №№ 4340, 4341 от 22.12.2008 года, выданные Министерством аграрной политики Украины).Высокий профессионализм сотрудников Николаевской аграрной компании позволяет из года в год получать достойные результаты по урожайности и качеству сельскохозяйственной продукции.Для получения высоких показателей урожайности (не в ущерб окружающей среде и качеству почвы) соблюдаются все необходимые составляющие, а именно:- на полях высеваются зерновые культуры селекции Одесского СГИ и Краснодарского НИИСХ им.П.П.Лукьяненко; семена гибридов подсолнечника, кукурузы и рапса известных европейских и американских селекционных учреждений (Syngenta, Pioneer, Lembke, Monsanto);- применяются современные интенсивные технологии выращивания сельскохозяйственных культур (Min-Till), которые, помимо увеличения урожайности, обеспечивают сохранность почвы и гумуса в почве;- применяются необходимые удобрения, в том числе микроудобрения, сложные удобрения, включающие многочисленные препараты, влияющие на урожайность и качество сельскохозяйственной продукции;- необходимые средства защиты растений приобретаются исключительно у ведущих мировых производителей (Bayer, Monsanto, Syngenta, DuPont, Dow AgroSciences, Nufarm, FMC, Cheminova, BASF) с целью нанесения минимального вреда окружающей среде.
