header {
  display: block;
  font-family: Arial;

  .top {
    display: flex;
    justify-content: space-between;

    img {
      width: 250px;
    }

    .contacts {
      align-self: flex-end;
      color: white;

      .pages {
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        margin-bottom: 5px;

        p {
          margin: 0;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .menu {
    background: url(../img/menu-bg.gif) repeat-x left top;
    border-radius: 12px;

      ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        height: 45px;
        overflow: hidden;
        align-items: center;

        li {
          background: url(../images/menu-separator.gif) no-repeat left top;
          float: left;
          list-style: none;

          a {
            color: white;
            text-decoration: none;
          }
        }

        // .active {
        //
        //   a {
        //     background: url(../img/menu-bg-active.gif) repeat-x left top;
        //   }
        // }
      }
  }
}
